@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62%;
}

:root {
  --primary-color: #1666b0;
  --accent-color: #09bdf8;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 10px 25px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #1666b0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding-top: 50px;
  height: max-content;
  min-height: 650px;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h1 {
  letter-spacing: 0.3rem;
}

p {
  max-width: 50ch;
}

.primary-title {
  text-transform: uppercase;
  line-height: 55px;
  font-size: 40px;
  color: var(--primary-color);
  margin: 2rem;
  padding-top: 6rem;
  display: inline-block;
  position: relative;
}

.primary-title::before,
.primary-title::after {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-top: 0.4rem solid var(--primary-color);
  border-left: 0.4rem solid var(--primary-color);
}

.primary-title::before {
  top: 5.8rem;
  left: -2rem;
}

.primary-title::after {
  bottom: -0.5rem;
  right: -2rem;
  transform: rotate(180deg);
}

button:active {
  outline: 2px solid var(--accent-color);
}

/* Scrollbar */
body {
  /* Firefox */
  scrollbar-width: 1.5rem;
  scrollbar-color:  blue rgb(173, 236, 255);
}

/* Chrome */
::-webkit-scrollbar {
  width: 1.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgb(173, 236, 255);
  /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
  background: blue;
  /* border-radius: 5px; */
}

/* Navbar */
.header {
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;
}

.navbar-brand {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.toggler {
  display: none;
}

input[name="toggle-navbar"] {
  display: none;
}

li {
  list-style: none;
}

.navbar {
  gap: 0;
}

.navbar li a {
  color: rgb(12, 0, 56);
  padding: 10px 20px;
}

.navbar li a:hover {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
}

.header .container {
  justify-content: space-between;
}

/* Home */
.home {
  padding-top: 0;
  height: 100vh;
  min-height: 750px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  text-align: center;
  position: relative;
}

.home .container {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.banner {
  font-size: 35px;
}

.banner:first-child {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.banner:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 30px;
}

.slogan {
  font-size: 25px;
  padding-bottom: 20px;
}

.address {
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px;
}

.address span {
  font-weight: 500;
}

.location {
  color: var(--primary-color);
  padding: 10px 20px 5px;

  font-weight: 600;
}

.address .fas {
  color: var(--primary-color);
}

.telephone {
  font-size: 20px;
  padding: 0px 20px;
  margin: 0px 20px 20px;
}

.telephone span {
  font-weight: 400;
}

.telephone .number {
  color: var(--primary-color);
  padding: 10px 20px;

  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
}

.telephone .fas {
  color: var(--primary-color);
}

.home .wave {
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 11rem;
  width: 100%;
  background: url(assets/other/wave.png);
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  animation: waves 10s linear infinite;
}

.home .wave2 {
  animation-direction: reverse;
  opacity: 0.3;
}

.home .wave3 {
  animation-duration: 5s;
  opacity: 0.5;
}

@keyframes waves {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: 100rem;
  }
}

/* Products */
.products {
  padding-top: 0;
  height: max-content;
}

.products .title-bar {
  justify-content: space-between;
  align-items: flex-end;
}

.view-all {
  margin-bottom: 20px;
}
.product {
  width: 270px;
  height: 270px;
  object-fit: cover;
  background-color: var(--primary-color);
  border-left: 0.5px solid var(--primary-color);
  border-top: 0.5px solid var(--primary-color);
  border-right: 0.5px solid var(--primary-color);
  border-radius: 5px;
  position: relative;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: var(--accent-color);
}

.products-list {
  /* padding: 10px; */
  background: var(--primary-color);
  overflow-y: hidden;
  overflow-x: scroll;
}

.products-wrapper {
  width: max-content;
  display: flex;
  /* gap: 20px; */
}

.products-list::-webkit-scrollbar {
  height: 1.5rem;
}

/* About */
.about {
  margin-bottom: 80px;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom left;
}

.about::before,
.about::after {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  border-radius: 50%;
}

.about::before {
  height: 50rem;
  width: 50rem;
  background: #ccc;
  right: -10rem;
  top: -10rem;
}

.about .content h3 {
  font-size: 30px;
  color: var(--primary-color);
  padding-bottom: 20px;
}

.about .content p {
  line-height: 25px;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
}

summary {
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

/* Gallery */
.gallery{
  width: 100%;
}

.gallery .images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, max-content));
}

.gallery figure{
  width: 100%;
  cursor: pointer;
}

/* Contact */
.contact {
  margin-bottom: 50px;
  padding-top: 0;
  height: max-content;
}

.contact .input-fields {
  gap: 50px;
}

.contact figure {
  width: 400px;
}

form {
  flex-direction: column;
}

form a {
  margin: auto;
}

.email {
  font-size: 20px;
}

.or {
  font-size: 16px;
  position: relative;
}

.or::after,
.or::before {
  content: "";
  width: 6em;
  height: 0.07em;
  background-color: var(--primary-color);
  position: absolute;
  top: 0.6em;
}

.or::after {
  right: 1em;
}

.or::before {
  left: 1em;
}

input,
textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
}

.send {
  align-self: flex-end;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 20px 0;
}

footer .container {
  justify-content: space-between;
}

footer i {
  color: white;
}

footer figure {
  width: 500px;
}

/* Media Queries */
@media (max-width: 700px) {
  .toggler {
    display: block;
    cursor: pointer;
  }

  .navbar-brand {
    width: 50px;
    height: 50px;
  }

  .navbar li a {
    padding: 5px 10px;
  }
  .navbar li a:hover {
    padding: 5px 10px;
  }

  .navbar {
    gap: 20px;
    z-index: -1;
    position: absolute;
    top: -100px;
    opacity: 0;
    padding: 20px;
    left: 0;
    right: 0;
    transition: all 0.4s ease-in-out;

    background-color: white;
  }

  input[name="toggle-navbar"]:checked ~ .navbar {
    top: 70px;
    opacity: 1;
  }

  footer .container {
    justify-content: center;
  }
}

@media (max-width: 585px) {
  .home {
    min-height: 900px;
  }
}
