
.header{
  background-color: white;
}
/* Products  */
.products{
  padding-top: 100px;
}

.products-list{
  overflow-x: hidden;
  background-color: transparent;
  /* box-shadow: 0 0 3px 5px rgb(0, 0, 0, 0.1), 0 0 3px 5px rgb(0, 0, 0, 0.1); */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 25rem);
  gap:0;
}

.product{
  padding: 0;
  max-width: unset;
  width: unset;
  background: #8c8;
  border-radius: 0;
  height: max-content;
}

.product-name{
  border-radius: 0;
}

.product-img img{
  border-radius: 0;
}

.product, .product figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product:nth-child(3n+1) {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

/* .product:hover figure {
  border-radius: 5px;
  transform: scale(1.5);
} */